.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(79,115,203);
  background: linear-gradient(90deg, rgba(79,115,203,1) 35%, rgba(252,156,77,1) 100%);
  font-family: 'Rubik', sans-serif;
  color: #78909c;
}